*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

h4{
    text-align: center;
    margin-top: 30px;
}

.board-center{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.board{
    width: 454px;
    height: 454px;
    border: 2px solid tomato;
    background-color: azure;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box{
    width: 150px;
    height: 150px;
    border: 1px solid red;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    cursor: pointer;
}

.box:hover{
    background-color: bisque;
}

/* buttons */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

button{
    width: 200px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
    margin-left: 15px;
    font-weight: 900;
}
